{{#if modal}}
  {{auto-closer}}
{{/if}}
<div class="circle-button first">
  {{#if me.active}}
    {{#overlay-circle top-left=true blue=true}}
      {{i-fa icon="rss" size=false color=(if transmit.isTransmitting 'green' 'red')}}
    {{/overlay-circle}}
  {{/if}}
  {{#if me.unreadNotifications}}
    {{#overlay-circle top-right=true red=true}}
      <i class="self-center">
        {{me.unreadNotifications.length}}
      </i>
    {{/overlay-circle}}
  {{/if}}
  <img class="circle-button {{if meButtonActive 'active'}}" src={{me.smallpic}} {{action "me"}}>
</div>

{{#if me.active}}
  <div class="circle-button second red {{if webButtonActive 'active'}}"{{action "web"}}>
    {{i-fa icon="crosshairs" size="2x" class="self-center"}}
  </div>

  {{#if showWeb}}
    {{#circle-interface}}
      {{#each me.suspects as |suspect index|}}
        {{suspect-container suspect=suspect activeSuspect=activeSuspect contentIndex=index}}
      {{/each}}

      {{#if activeSuspect}}
        <div class="suspect-window-text">
          {{activeSuspect.name}}
        </div>

        {{#with activeSuspect as |user|}}
            {{partial 'common-buttons'}}
        {{/with}}

        {{#small-button inside=true contentIndex=13 action="showExpose"}}
          {{i-fa icon="eye"}}
        {{/small-button}}

        {{#if activeSuspect.isTarget}}      
          {{#small-button inside=true contentIndex=15 class="red" action="showFound"}}
            {{i-fa icon="camera"}}
          {{/small-button}}
        {{/if}}
      {{/if}}
    {{/circle-interface}}
  {{/if}}
{{/if}}

{{#if showMe}}
  {{#circle-interface}}

    {{#with me as |user|}}
      {{partial 'common-buttons'}}
    {{/with}}
    {{#small-button contentIndex=14 action="logout"}}
      {{i-fa icon="sign-out" color="red"}}
    {{/small-button}}
    {{#small-button contentIndex=11 action="notifications" overlayContent=me.unreadNotifications.length}}
      {{i-fa icon="file-text-o"}}
    {{/small-button}}
    {{#small-button contentIndex=10 action="instructions"}}
      {{i-fa icon="question"}}
    {{/small-button}}

    {{#if me.active}}
      {{#small-button contentIndex=1 popoverContent=(if transmit.isTransmitting 'You are transmitting your location and accruing influence every 60 seconds.' 'You are not transmitting your location or accruing influence.')}}
        {{i-fa icon="rss" color=(if transmit.isTransmitting 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=2 popoverContent=(if transmit.locationIsAccurate 'Your location is accurate.' 'Your location is not accurate enough (try turning on your GPS and your WiFi).')}}
        {{i-fa icon="location-arrow" color=(if transmit.isTransmitting 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=3 popoverContent=(if transmit.hasInternetConnection 'You have an internet connection.' 'You do not have an internet connection.')}}
        {{i-fa icon="signal" color=(if transmit.isTransmitting 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=5 overlayContent="!"}}
        {{i-fa icon="bell" color="red"}}
      {{/small-button}}
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showPic}}

  {{#if showFound}}
    {{#content-panel upper=true}}
      <ul class="indented">
        <li>Approach your target in a non-threatening manner, calmly, without disturbing anyone in your vicinity, ideally without them seeing you.</li>
        <li>Tap them lightly once on the shoulder.</li>
        <li>Push the Expose button.</li>
      </ul>
    {{/content-panel}}
  {{/if}}

  {{#if showExpose}}
    {{#content-panel upper=true}}
      If you think this person is stalking you, attempt a counteraction. If you are right, they'll be exposed; if you are wrong, you'll be disavowed and removed from the game!
    {{/content-panel}}
  {{/if}}

  {{#circle-interface}}
    {{#small-button contentIndex=10 action="closePic" target=this}}
      {{i-fa icon="times"}}
    {{/small-button}}

    {{#if showFound}}
      {{#small-button contentIndex=6 class="red" action="found"}}
        {{i-fa icon="crosshairs"}}
      {{/small-button}}
    {{/if}}

    {{#if showExpose}}
      {{#small-button contentIndex=6 action="expose"}}
        {{i-fa icon="exclamation-triangle"}}
      {{/small-button}}
    {{/if}}   

    {{#if activeSuspect}}
      <img class="circle-pic" src={{activeSuspect.largepic}}>
    {{else}}
      <img class="circle-pic" src={{me.largepic}}>
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{#content-panel scrolling=true}}
    {{#each me.notifications as |notification|}}
      {{notification-box notification=notification}}
    {{else}}
      <div class="self-center text-center">
          {{i-fa icon="folder-o" size="3x"}}
        <br>
        <h4>No Messages!</h4>
      </div>
    {{/each}}
  {{/content-panel}}
{{/if}}

{{#if showInstructions}}
  {{#content-panel scrolling=true}}
    {{partial 'instructions'}}
  {{/content-panel}}
{{/if}}