{{#if modal}}
  {{auto-closer}}
{{/if}}

<div class="circle-button first">
  {{#if me.active}}
    {{#overlay-circle top-left=true blue=true}}
      {{i-fa icon="rss" size=false color=(if transmit.isTransmitting 'green' 'red')}}
    {{/overlay-circle}}
  {{/if}}
  {{#if me.unreadNotifications}}
    {{#overlay-circle top-right=true red=true}}
      <i class="self-center">
        {{me.unreadNotifications.length}}
      </i>
    {{/overlay-circle}}
  {{/if}}
  <img class="circle-button {{if meButtonActive 'active'}}" src={{me.smallpic}} {{action "me"}}>
</div>

{{#if me.active}}
  <div class="circle-button second red {{if webButtonActive 'active'}}"{{action "web"}}>
    {{i-fa icon="crosshairs" size="2x" class="self-center"}}
  </div>
{{/if}}

{{#if showWeb}}
  {{#circle-interface}}
    {{#each me.suspects as |suspect index|}}
      {{suspect-container suspect=suspect activeSuspect=activeSuspect contentIndex=index}}
    {{/each}}

    {{#if activeSuspect}}
      <div class="suspect-window-text">
        {{activeSuspect.name}}
      </div>

      {{#with activeSuspect as |user|}}
          {{partial 'common-buttons'}}
      {{/with}}

      {{#small-button inside=true contentIndex=13 action=(action 'setModal' 'expose')}}
        {{i-fa icon="eye"}}
      {{/small-button}}

      {{#if activeSuspect.isTarget}}      
        {{#small-button inside=true contentIndex=15 class="red" action=(action 'setModal' 'found')}}
          {{i-fa icon="camera"}}
        {{/small-button}}
      {{/if}}
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showMe}}
  {{#circle-interface}}
    {{#with me as |user|}}
      {{partial 'common-buttons'}}
    {{/with}}
    {{#small-button contentIndex=14 action=(action 'setModal' 'logout')}}
      {{i-fa icon="sign-out" color="red"}}
    {{/small-button}}
    {{#small-button contentIndex=11 action=(action 'setModal' 'notifications') overlayContent=me.unreadNotifications.length}}
      {{i-fa icon="file-text-o"}}
    {{/small-button}}
    {{#small-button contentIndex=10 action=(action 'setModal' 'instructions')}}
      {{i-fa icon="question"}}
    {{/small-button}}

    {{#if me.active}}
      {{#small-button contentIndex=1 popoverContent=(if transmit.isTransmitting 'You are transmitting your location and accruing influence every 60 seconds.' 'You are not transmitting your location or accruing influence.')}}
        {{i-fa icon="rss" color=(if transmit.isTransmitting 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=2 popoverContent=(if transmit.locationIsAccurate 'Your location is accurate.' 'Your location is not accurate enough (try turning on your GPS and your WiFi).')}}
        {{i-fa icon="location-arrow" color=(if transmit.locationIsAccurate 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=3 popoverContent=(if transmit.hasInternetConnection 'You have an internet connection.' 'You do not have an internet connection.')}}
        {{i-fa icon="signal" color=(if transmit.hasInternetConnection 'green' 'red')}}
      {{/small-button}}
      {{#small-button contentIndex=5 overlayContent="!"}}
        {{i-fa icon="bell" color="red"}}
      {{/small-button}}
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showFound}}
  {{#content-panel}}
    <h2>SnapTag!</h2>
    <p>If you've got {{activeSuspect.name}} in your sites, take a picture without being seen then upload it by pushing the button below:</p>
    <p class="text-center">
      <button class="btn btn-primary circle"{{action 'found'}}>{{i-fa icon='camera' size='2x'}}</button>
    </p>
  {{/content-panel}}
{{/if}}

{{#if showExpose}}
  {{#content-panel}}
    <h2>Counter-Tag!</h2>
    <p>Is something suspicious about {{activeSuspect.name}}? If you think they are looking for you and you're willing to bet your spot in the game on it, press the button below. You'd better be sure -- this happens instantaneously and is non-reversible!</p>
    <p class="text-center">
      <button class="btn btn-primary circle"{{action 'expose'}}>{{i-fa icon='eye' size='2x'}}</button>
    </p>
  {{/content-panel}}
{{/if}}

{{#if showPic}}
  {{#circle-interface}}
    {{#if activeSuspect}}
      <img class="circle-pic" src={{activeSuspect.largepic}}>
    {{else}}
      <img class="circle-pic" src={{me.largepic}}>
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{#content-panel scrolling=true}}
    {{#each me.notifications as |notification|}}
      {{notification-box notification=notification}}
    {{else}}
      <div class="self-center text-center">
          {{i-fa icon="folder-o" size="3x"}}
        <br>
        <h4>No Messages!</h4>
      </div>
    {{/each}}
  {{/content-panel}}
{{/if}}

{{#if showInstructions}}
  {{#content-panel scrolling=true}}
    {{partial 'instructions'}}
  {{/content-panel}}
{{/if}}

{{#if showLogout}}
  {{#content-panel}}
    <h2>Are you sure you want to Logout?</h2>
    <p>:(</p>
    <p class="text-center">
      <button class="btn btn-primary circle"{{action 'closeModal'}}>{{i-fa icon='times' size='2x'}}</button>
      <button class="btn btn-primary circle"{{action 'logout'}}>{{i-fa icon='sign-out' size='2x'}}</button>
    </p>
  {{/content-panel}}
{{/if}}