{{outlet}}
{{#bottom-nav bg=true}}
  <div>
    {{#link-to 'intro.1' activeClass="color-black"}}
      {{i-fa icon="circle" size=null}}
    {{/link-to}}
    &nbsp;&nbsp;
    {{#link-to 'intro.2' activeClass="color-black"}}
      {{i-fa icon="circle" size=null}}
    {{/link-to}}
    &nbsp;&nbsp;
    {{#link-to 'intro.3' activeClass="color-black"}}
      {{i-fa icon="circle" size=null}}
    {{/link-to}}
  </div>
  <div>
    {{#link-to 'search' class="bottom-buttons"}}
      <button class="btn btn-primary">
        {{i-fa icon="map-marker"}} See the game map
      </button>
    {{/link-to}}
  </div>
{{/bottom-nav}}