<div class="circle-button first blue" {{action "login"}}>
	<div class="self-center">
		<i class="fa fa-facebook fa-2x small"></i>
		<br>
		<span class="small">Login</span>
  </div>
</div>

<div class="circle-button second blue {{if showInstructions 'active'}}" {{action 'instructions'}}>
	<i class="fa fa-question fa-2x self-center"></i>
</div>

{{#if showInstructions}}
	{{#content-panel scrolling=true}} 
		{{partial 'instructions'}}
  {{/content-panel}}
{{/if}}
{{#stalkers-map bounds=initialBounds}}
	{{tile-layer url='http://{s}.tiles.mapbox.com/v3/edborden.i7622aec/{z}/{x}/{y}.png'}}
	{{me-marker}}
	{{#each model as |zone|}}
		{{#each zone.users as |user|}}
			{{#marker-layer lat=user.location.lat lng=user.location.lng}}
				Active Stalker who has found {{user.targetsFoundCount}} targets and has been hunting since {{moment-from-now user.activatedAt}}.
			{{/marker-layer}}
		{{/each}}
	{{/each}}
{{/stalkers-map}}