<div class="header">
	{{i-fa icon="envelope-o"}}
	&nbsp;&nbsp;&nbsp;
	{{notification.subject}}&nbsp;{{moment-from-now notification.createdAt}}
</div>
<div class="body">
	<p>{{notification.body}}</p>
  {{#if notification.hunt}}
    {{scaled-image imageId=notification.hunt.imageId sizePx=100 class="inline" click=(action setModal "lightbox-image" "partial" notification.hunt)}}
  {{/if}}
</div>