{{#if modal}}
  {{auto-closer}}
{{/if}}

{{#circle-button class="first" action="me" active=meButtonActive}}
  {{#if me.unreadNotifications}}
    {{overlay-circle top-right=true color='red' content=me.unreadNotifications.length}}
  {{/if}}
  <img src={{me.smallpic}}>
{{/circle-button}}

{{#circle-button class="second" action="unjoin"}}
  <div class="self-center">
    {{i-fa icon="minus-square-o" size="2x"}}
    <br>
    <span class="small">Exit Queue</span>
  </div>
{{/circle-button}}

{{#circle-button class="third" active=showInfo action=(action 'setModal' 'info')}}
  {{i-fa icon="info" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showMe}}
  {{#circle-interface}}
    {{partial 'me-interface'}}
  {{/circle-interface}}
{{/if}}

{{#if showPic}}
  {{#circle-interface}}
    {{circle-pic src=me.largepic}}
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{partial 'notifications-panel'}}
{{/if}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showLogout}}
  {{partial 'logout'}}
{{/if}}

{{#if showInfo}}
  {{#content-panel}}
    <h4 class="text-center">
      <p>You are in the queue waiting for other players.</p>
      <p>
        {{queueOtherUsersCount}} other players are in the queue. When {{playersTillStartCount}} other players join, you will begin
        {{#if activeQueueZone}}
          , or you may begin sooner as spots open up.
        {{else}}
          .
        {{/if}}
      </p>
    </h4>
  {{/content-panel}}
{{/if}}