{{#if modal}}
  {{auto-closer}}
{{/if}}

<div class="circle-button first">
  {{#if me.unreadNotifications}}
    {{overlay-circle top-right=true content=me.unreadNotifications.length}}
  {{/if}}
  <img class="circle-button {{if meButtonActive 'active'}}" src={{me.smallpic}} {{action "me"}}>
</div>

<div class="circle-button second blue" {{action "unjoin"}}>
  <div class="self-center">
    {{i-fa icon="minus-square-o" size="2x"}}
    <br>
    <span class="small">Exit Queue</span>
  </div>
</div>

{{#if showMe}}
  {{#circle-interface}}
    {{partial 'me-interface'}}
  {{/circle-interface}}
{{/if}}

{{#if showPic}}
  {{#circle-interface}}
    <img class="circle-pic" src={{me.largepic}}>
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{partial 'notifications-panel'}}
{{/if}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showLogout}}
  {{partial 'logout'}}
{{/if}}

{{info-box length=length}}