{{#if modal}}
  {{auto-closer closer=true}}
{{/if}}

{{#circle-button class="first" action="me" active=meButtonActive}}
  {{#if me.unreadNotifications}}
    {{overlay-circle top-right=true color='red' content=me.unreadNotifications.length}}
  {{/if}}
  {{profile-pic user=me size=15}}
{{/circle-button}}

{{#circle-button class="second" action="join"}}
  <div class="self-center">
    {{i-fa icon="camera" size="2x"}}
    <br>
    <span class="small">Join</span>
  </div>
{{/circle-button}}

{{#circle-button class="third" active=showInfo action=(action 'setModal' 'info')}}
  {{i-fa icon="info" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showMe}}
  {{#circle-interface}}
    {{partial 'me-interface'}}
  {{/circle-interface}}
{{/if}}

{{#if showPic}}
  {{#circle-interface}}
    {{circle-pic src=me.largepic}}
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{partial 'notifications-panel'}}
{{/if}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showLogout}}
  {{partial 'logout'}}
{{/if}}

{{#if showInfo}}
  {{partial 'inactive-info'}}
{{/if}}