<div class="bg{{if scrolling ' scrolling'}}{{if upper ' upper'}}{{if full ' full'}}{{if styled ' styled' ' unstyled'}}"></div>
<div class="content{{if scrolling ' scrolling'}}{{if upper ' upper'}}{{if full ' full'}}{{if styled ' styled' ' unstyled'}}">
	{{yield}}
</div>