{{tile-layer url='https://{s}.tiles.mapbox.com/v3/edborden.i7622aec/{z}/{x}/{y}.png'}}
{{#unless noLocation}}
  {{me-marker}}
{{/unless}}
{{#each model as |zone|}}
  {{circle-layer radius=zone.range lat=zone.lat lng=zone.lng color='blue' fillOpacity=0}}
  {{#spider-layer showCoverageOnHover=false disableClusteringAtZoom=15}}
    {{#each zone.users as |user|}}
      {{#user-marker user=user lat=user.location.lat lng=user.location.lng}}
        {{profile-pic user=user size=20 banner=true face=true}}
        <div class="user-popup">
          {{user.name}}, {{moment-from-now user.location.createdAt}}
        </div>
      {{/user-marker}}
    {{/each}}
    {{#each zone.hunts as |hunt|}}
      {{#marker-layer lat=hunt.lat lng=hunt.lng}}
        {{image-thumbnail model=hunt}}
        {{hunt.detail}}
      {{/marker-layer}}
    {{/each}}
  {{/spider-layer}}
{{/each}}