{{tile-layer url='https://{s}.tiles.mapbox.com/v3/edborden.i7622aec/{z}/{x}/{y}.png'}}
{{#unless noLocation}}
  {{me-marker}}
{{/unless}}
{{#each model as |zone|}}
  {{circle-layer radius=zone.range lat=zone.lat lng=zone.lng color='blue' fillOpacity=0}}
  {{#spider-layer showCoverageOnHover=false disableClusteringAtZoom=15}}
    {{#each zone.users as |user|}}
      {{#user-marker imageUrl=user.smallpic lat=user.location.lat lng=user.location.lng}}
        {{small-button contentIndex=6 base=36 popoverContent="Snaptags" content=user.targetsFoundCount}}
        <img src={{user.largepic}}>
        <span class="description">
          {{user.name}},<br>{{moment-from-now user.location.createdAt}}
        </span>
      {{/user-marker}}
    {{/each}}
  {{/spider-layer}}
{{/each}}