{{#if modal}}
  {{auto-closer closer=true}}
{{/if}}

{{#circle-button class="first" action="login"}}
  <div class="self-center">
    {{i-fa icon="facebook" size="2x" class="small"}}
    <br>
    <span class="small">Login</span>
  </div>
{{/circle-button}}

{{#circle-button class="second" active=showInstructions action=(action 'setModal' 'instructions')}}
  {{i-fa icon="question" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showInfo}}
  {{partial 'inactive-info'}}
{{/if}}