{{#if modal}}
  {{auto-closer}}
{{/if}}

{{#circle-button class="first" action="login"}}
  <div class="self-center">
    {{i-fa icon="facebook" size="2x" class="small"}}
    <br>
    <span class="small">Login</span>
  </div>
{{/circle-button}}

{{#circle-button class="second" active=showInstructions action=(action 'setModal' 'instructions')}}
  {{i-fa icon="question" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showInfo}}
  {{#content-panel}}
    <div class="text-center">
      <p>This is a live map that shows all of the other people currently playing SnapTag in your area.</p>
      <p>
        {{#if noPlayers}}
          As you can see, there are no other players in your area right now.  Join up now and we'll start a new game for you. As new people join, we'll let you know!
        {{else}}
          As you can see, there are other active players in your area right now! Join up!
        {{/if}}
      </p>
    </div>
  {{/content-panel}}
{{/if}}