{{#if modal}}
  {{auto-closer closer=true}}
{{/if}}

{{#unless noLocation}}
  {{#circle-button class="first" action="login"}}
    <div class="self-center">
      {{i-fa icon="facebook" size="2x" class="small"}}
      <br>
      <span class="small">Login</span>
    </div>
  {{/circle-button}}

  {{#circle-button class="second" action="loginJoin"}}
    <div class="self-center">
      {{i-fa icon="camera" size="2x"}}
      <br>
      <span class="small">Join</span>
    </div>
  {{/circle-button}}
{{else}}
  {{#bottom-nav}}
    <p class="description">
      Want to play?
    </p>
    {{#link-to 'location'}}
      <button class="btn btn-primary bottom-buttons">
        {{i-fa icon="map-marker"}} Search games near me
      </button>
    {{/link-to}}
  {{/bottom-nav}}
{{/unless}}

{{#circle-button class=(if noLocation "first" "third") active=showInstructions action=(action 'setModal' 'instructions')}}
  {{i-fa icon="question" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showInfo}}
  {{partial 'inactive-info'}}
{{/if}}