{{#if modal}}
  {{auto-closer}}
{{/if}}

<div class="circle-button first blue" {{action "login"}}>
  <div class="self-center">
    {{i-fa icon="facebook" size="2x" class="small"}}
    <br>
    <span class="small">Login</span>
  </div>
</div>

<div class="circle-button second blue{{if showInstructions ' active'}}"{{action 'setModal' 'instructions'}}>
  {{i-fa icon="question" size="2x" class="self-center"}}
</div>

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}