{{#if modal}}
  {{auto-closer}}
{{/if}}

{{#circle-button class="first" action="me" active=meButtonActive}}
  {{#if me.unreadNotifications}}
    {{overlay-circle top-right=true color='red' content=me.unreadNotifications.length}}
  {{/if}}
  <img src={{me.smallpic}}>
{{/circle-button}}

{{#circle-button class="second" active=webButtonActive action="web"}}
  {{i-fa icon="camera" size="2x" class="self-center"}}
{{/circle-button}}

{{#if showWeb}}
  {{#circle-interface}}
    {{#each me.suspects as |suspect index|}}
      {{suspect-container suspect=suspect activeSuspect=activeSuspect contentIndex=index}}
    {{/each}}

    {{#if activeSuspect}}
      {{suspect-text content=activeSuspect.name}}

      {{#with activeSuspect as |user|}}
          {{partial 'common-buttons'}}
      {{/with}}

      {{small-button inside=true contentIndex=13 class="red" action=(action 'setModal' 'expose') icon="eye"}}

      {{#if activeSuspect.isTarget}}      
        {{small-button inside=true contentIndex=15 class="red" action=(action 'setModal' 'found') icon="camera"}}
      {{/if}}
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showMe}}
  {{#circle-interface}}
    {{partial 'me-interface'}}

    {{small-button contentIndex=5 overlayContent="!" icon="bell" iconColor="red"}}
    
  {{/circle-interface}}
{{/if}}

{{#if showFound}}
  {{#content-panel}}
    <h2>SnapTag!</h2>
    <p>If you've got {{activeSuspect.name}} in your sites, take a picture without being seen then upload it by pushing the button below:</p>
    <p class="text-center">
      <button class="btn btn-primary circle"{{action 'file'}}>{{i-fa icon='camera' size='2x'}}</button>
    </p>
  {{/content-panel}}
{{/if}}

{{#if showExpose}}
  {{#content-panel}}
    <h2>Counter-Tag!</h2>
    <p>Is something suspicious about {{activeSuspect.name}}? If you think they are looking for you and you're willing to bet your spot in the game on it, press the button below. You'd better be sure -- this happens instantaneously and is non-reversible!</p>
    <p class="text-center">
      <button class="btn btn-primary circle"{{action 'expose'}}>{{i-fa icon='eye' size='2x'}}</button>
    </p>
  {{/content-panel}}
{{/if}}

{{#if showPic}}
  {{#circle-interface}}
    {{#if activeSuspect}}
      {{circle-pic src=activeSuspect.largepic}}
    {{else}}
      {{circle-pic src=me.largepic}}
    {{/if}}
  {{/circle-interface}}
{{/if}}

{{#if showNotifications}}
  {{partial 'notifications-panel'}}
{{/if}}

{{#if showInstructions}}
  {{partial 'instructions'}}
{{/if}}

{{#if showLogout}}
  {{partial 'logout'}}
{{/if}}