{{tile-layer url='https://{s}.tiles.mapbox.com/v3/edborden.i7622aec/{z}/{x}/{y}.png'}}
{{circle-layer radius=zone.range lat=zone.lat lng=zone.lng color='blue' fillOpacity=0}}
{{me-marker}}
{{#spider-layer showCoverageOnHover=false disableClusteringAtZoom=15}}
  {{#each model as |location|}}
    {{#user-marker user=location.user lat=location.lat lng=location.lng}}
      {{profile-pic user=location.user size=20 banner=true face=true}}
      <div class="user-popup">
        {{location.user.name}}, {{moment-from-now location.createdAt}}
      </div>
    {{/user-marker}}
  {{/each}}
{{/spider-layer}}