{{#circle-button class="third" active=show action="show"}}
  {{i-fa icon="info" size="2x" class="self-center"}}
{{/circle-button}}

{{#if show}}
  {{#if me.inactive}}
    {{#if noPlayers}}
      {{#content-panel}}
        <div class="text-center">There are no other members in your area right now, so start your own chapter and recruit some other members!</div>
      {{/content-panel}}
    {{else}}
      {{#content-panel}}
        <div class="text-center">There are other active members in your area right now! Join up!</div>
      {{/content-panel}}
    {{/if}}
  {{/if}}

  {{#if me.queue}}
    {{#content-panel}}
      <div class="text-center">
        You are in the queue, waiting for other members.
        <br>
        {{queueOtherUsersCount}} other members are in the queue. When {{playersTillStartCount}} other members join, you will begin
        {{#if activeQueueZone}}
          , or you may begin sooner as currently active targets are found.
        {{else}}
          .
        {{/if}}
      </div>
    {{/content-panel}}
  {{/if}}
{{/if}}