{{#content-panel scrolling=true}}

  <h4>This is Snaptag, a city-wide game of hide-and-seek played with real people, in real time, out in the real world!</h4>
  <p>Your goal is to find your targets (other players close by) before someone finds <span class="italic">you</span>. You'll be given up to 3 targets, while up to 3 players will be looking for you as well.</p>

  <h4>Joining a game</h4>
  <p>If you aren't dropped directly into a game when you join, you'll wait in a queue until there are at least 4 people playing in the area. You'll be notified by email when the game starts. It's best to JOIN the queue so that other players can see you want to play!</p>

  <h4>Using the Game Screen</h4>
  <p>
    Once you've entered a game, you'll see the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x"}}
      {{i-fa icon="users" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
    button, which will bring up your Game Screen, which is where you'll be able to view the other people you are playing with. Some of them will be highlighted, which are your targets. Some of them are also your hunters (be careful: you <span class="italic">could</span> be hunting your hunter!). You'll be able to tap the picture of each person to see their stats, picture, and perform game actions.
  </p>

  <h4>Finding your targets</h4>
  <p>In addition to the basic profile info, you are able to view your target's recent location on the map.  Note: you can only view the location of your <span class="italic">target</span>, no one else. You'll need to use this, as well as any other information you can come up with, to find your target and Snaptag them!</p>
  <p>
    To perform the snaptag, tap the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x"}}
      {{i-fa icon="users" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
     to get to the Game Screen, tap your target's picture to select them, then tap the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x" color="pink"}}
      {{i-fa icon="camera" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
     button.
  </p>

  <h4>Counter-tag</h4>
  <p>Keep an eye on your Game Screen regularly while playing Snaptag. You'll always be shown the group of players currently in the game with you, which will constantly be changing as people tag each other. If you see someone on your list acting suspiciously and you think they are hunting you, you can quickly react to make a counter-tag, knock them out of the game, and score! But be careful; if you guess wrong you'll be knocked out instead!</p>
  <p>
    To make a counter-tag, tap the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x"}}
      {{i-fa icon="users" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
     to get to the Game Screen, tap your hunter's picture to select them, then tap the 
    <span class="fa-stack">
      {{i-fa icon="square" class="fa-stack-2x" color="pink"}}
      {{i-fa icon="eye" class="fa-stack-1x fa-inverse fa-lg"}}
    </span> 
     button.
  </p>

  <h4>Location information</h4>
  <p>Location information is only collected once a player has joined Snaptag, has entered an active game, and has the app open. Even then, location information is shared with a player's hunters only.</p>
  <p>Location information is <span class="italic">required</span> to play. After all, that's how players find each other. Therefore, you'll only be able to play if your phone has an internet connection and an accurate location lock. Sometimes communications/location services go down, in which time you'll be bumped into a holding screen until you get service again. No problem!</p>

  <h4>Questions / Feedback?</h4>
  <p>Yes please! <span class="color-pink">contact@gosnaptag.com</span></p>
{{/content-panel}}