<div style={{innerStyle}}>
  {{#if overlayContent}}
    {{overlay-circle top-right=true content=overlayContent}}
  {{/if}}
  <div class="self-center">
    {{#if icon}}
      {{i-fa icon=icon color=iconColor}}
    {{else}}
      {{content}}
    {{/if}}
  </div>
</div>